# ASPNETCORE
ASPNETCORE_ENVIRONMENT=Development

# API Port
API_PORT=8000

# Google Cloud & Firebase
GoogleCloud__ProjectId=your_project_id
GoogleCloud__ClientId=your_client_id
GoogleCloud__StorageBucket=your_bucket_name
Firebase__ProjectId=your_project_id

# Service Account Key Paths
HOST_KEY_PATH=./DiaryApp.API/firebase-key.json
CONTAINER_KEY_PATH=/app/firebase-key.json

# JWT Settings
JwtSettings__Secret=your_very_secret_key
JwtSettings__Issuer=DiaryApp
JwtSettings__Audience=DiaryApp
JwtSettings__ExpiryMinutes=43200

# Email Settings
EmailSettings__Email=your_email@gmail.com
EmailSettings__Password=your_app_password
EmailSettings__Host=smtp.gmail.com
EmailSettings__Port=587

# Redis Configuration
Redis__ConnectionString=localhost:6379
DOCKER_REDIS_URL=diary-redis:6379

# RabbitMQ Configuration
RabbitMQSettings__Url=amqp://guest:guest@localhost:5672
DOCKER_RABBITMQ_URL=amqp://guest:guest@diary-rabbitmq:5672

# Google OAuth
GoogleOAuth__ClientId=your_google_client_id
GoogleOAuth__ClientSecret=your_google_client_secret
